<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   </head>
  <body>

    <div style="text-align: center;">
      <h3>Welcome To <%= title %></h3>
       
       <a href="/swagger"> Ecommerce APIs </a>
    </div>

  </body>
</html>
